html{height:100%;}
body{display:flex;min-height:100vh;min-height:100%;display:flex;flex-direction:column;margin:0;padding-bottom:60px;padding-top:50px;}
header{position:fixed;top:0px;height:50px;width:100%;z-index:2;}
main{flex:1;padding-bottom:60px;}
.navigation_bar{position:fixed;bottom:0px;height:60px;width:100%;z-index:100;}
.logo-image{margin-top:10px;margin-bottom:5px;}
.aligner{display:flex;align-items:center;justify-content:center;}
.aligner-item{max-width:50%;}
.aligner-item--top{align-self:flex-start;}
.aligner-item--bottom{align-self:flex-end;}
.fixed-action-btn{bottom:25%;}
.ripple-effect{width:250vw;height:250vw;top:0;right:0;background:#4D84F1;transition:all 0.5s ease;transform:scale(0.005);border-radius:50%;position:absolute;top:50%;left:50%;margin-top:-125vw;margin-left:-125vw;z-index:-1;}
.hamburger_icon{color:#ffffff;}
.header-logo{height:50px;}
.logo-image{height:23px;}
.overlay{height:0;width:100%;position:fixed;z-index:1001;!important;bottom:0;left:0;background-color:rgb(33, 33, 33);background-color:rgba(33, 33, 33, 1);overflow-x:hidden;transition:0.5s;}
.overlay-content{position:absolute;top:10px;width:100%;text-align:center;padding-top:5px;padding-bottom:20px;overflow:visible;z-index:101;color:#ffffff;}
.overlay a{text-decoration:none;font-size:26px;color:#ffffff;transition:0.3s;}
.overlay a:hover, .overlay a:focus{color:#f1f1f1;}
@media screen and (max-height:450px){.overlay{overflow-y:auto;}
    .overlay a{font-size:20px}
    .overlay .closebtn{font-size:40px;top:15px;right:35px;}
}
* html .navigation_bar{position:absolute;top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');}
.s_nav_name{font-size:11px;word-spacing:2px;letter-spacing:1px;}
.s_nav_email{overflow:hidden;font-size:10px;word-spacing:2px;letter-spacing:1px;text-transform:uppercase;}
.s_nav_cart_amount{font-size:38px;display:block;margin-top:2px;margin-right:20px;height:56px;width:56px;}
.s_nav_basket{margin-left:14px;}
.nav-icon{margin:7px;}
.second_nav_icons{height:28px;width:28px;margin-top:16px;margin-top:16px;}
.s_nav_wrap{height:60px;text-align:center;}